---
import Window from "./Window.astro";
import { profileData } from "../data/profile";

export interface Props {
	id?: string;
	showStatus?: boolean;
}

const { id, showStatus = false } = Astro.props;
---

<Window title="Profile" id={id}>
	<div class="profile-picture-container">
		<img class="profile-pic" src="/img/pfp_compressed.jpeg" alt="Profile Picture" />
		<div class="profile-info">
			<div class="name">{profileData.name}</div>
			<div>&gt; {profileData.age} years old &lt;</div>
			<div>&gt; {profileData.location} &lt;</div>
			{
				showStatus && (
					<div>
						<strong>Status: </strong>
						{profileData.status}
					</div>
				)
			}
			{!showStatus && <div>&gt; {profileData.status} &lt;</div>}
		</div>
	</div>
</Window>

<style>
	.profile-info div {
		font-size: 15pt !important;
	}
	.name {
		font-weight: bold;
		margin-bottom: 0.2em;
	}
</style>
