---
export interface Props {
	title: string;
	id?: string;
	class?: string;
	showDetailsBar?: boolean;
	details?: string[];
	showCloseBtn?: boolean;
	closeBtnLink?: string;
	closeBtnText?: string;
	icon?: string;
}

const {
	title,
	id,
	class: className = "",
	showDetailsBar = false,
	details = [],
	showCloseBtn = false,
	closeBtnLink = "",
	closeBtnText = "View Full",
	icon,
} = Astro.props;
---

<div class={`window ${className}`} id={id}>
	<div class="title-bar" class:list={[{ "close-btn-bar": showCloseBtn }]}>
		<h1 class="title" class:list={[{ "centered-title": showCloseBtn }]}>
			{icon && <img src={icon} class="title-icon" width="16" height="16" alt="" />}
			<span set:html={title} />
		</h1>
		{
			showCloseBtn && (
				<a href={closeBtnLink} class="close-btn">
					{closeBtnText}
				</a>
			)
		}
	</div>
	<div class="separator"></div>
	{
		showDetailsBar && (
			<div class="details-bar">
				{details.map((detail) => (
					<span class="detail-item" set:html={detail} />
				))}
			</div>
		)
	}
	<div class="window-pane">
		<slot />
	</div>
</div>

<style>
	.close-btn-bar {
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
	}

	.centered-title {
		margin: 0 auto;
	}

	.title {
		display: flex;
		align-items: center;
		gap: 6px;
	}

	.title > span {
		font-size: inherit;
	}

	.title-icon {
		flex-shrink: 0;
	}
</style>
